attrs==19.3.0
beautifulsoup4==4.9.0
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
cycler==0.10.0
flask==1.1.2
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.4.28
httpx==0.12.1
hyperframe==5.2.0
idna==2.8
itsdangerous==1.1.0
jinja2==2.11.3
kiwisolver==1.1.0
markupsafe==1.1.1
matplotlib==3.2.0
more-itertools==8.3.0
numpy==1.18.1
packaging==20.3
pillow==9.0.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.6
pytest==5.4.2
python-dateutil==2.8.1
rfc3986==1.4.0
six==1.14.0
sniffio==1.1.0
soupsieve==2.0
urllib3==1.25.8
wcwidth==0.1.9
werkzeug==1.0.1
wordcloud==1.6.0
